<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CardMapper">


<!-- 카드생성 -->
<insert id="insertcard" parameterType="Card">
insert into card(card_id,loca_name,item1,item2<if test="item3 != 0">,item3</if><if test="item4 != 0">,item4</if><if test="item5 != 0">,item5</if>
,card_date,recommend,cust_id) 
values(CARD_SEQ.nextval, #{loca_name}, #{item1}, #{item2} 
<if test="item3 != 0">, #{item3}</if> <if test="item4 != 0">, #{item4} </if><if test="item5 != 0">, #{item5}</if>
, sysdate, #{recommend},#{cust_id})
<selectKey keyProperty="card_id" resultType="int" order="AFTER">
SELECT card_seq.currval FROM dual
</selectKey>
</insert>

<!-- 카드리스트생성 -->
<insert id="insertcardlist" parameterType="CardList">
insert into cardlist values(CARDLIST_SEQ.nextval, #{cust_id}, #{card_id})
</insert>

<!-- 아이템 생성 -->
<insert parameterType="Item" id="insertitem">
insert into item values(item_SEQ.nextval, #{title}, #{item_x}, #{item_y}, #{address}, #{phone}) 
<selectKey order="AFTER" resultType="int" keyProperty="item_id"> SELECT item_seq.currval FROM dual </selectKey>

</insert>


<!-- 카드아이디리스트 조회-->
<select id="cardidlist" parameterType="int" resultType="int">
select card_id from cardlist where cust_id=#{custid}
</select>

<!-- 카드리스트 만들기 위해 카드 객체 넘겨줌 -->
<select id="cardlist" parameterType="int" resultType="Card">
select * from card where card_id=#{cardid}
</select>

<!-- 카드리스트 만들기 위해 카드 객체 넘겨줌 -->
<select id="selectItem" parameterType="int" resultType="Item">
select * from item where item_id=#{itemid}
</select>


<!-- 아이템 별 댓글리스트 불러오기  -->
<select id="selectReply" parameterType="int" resultType="Reply" >
select * from reply where item_id=#{itemid}
</select>


<!-- 댓글생성  -->
<insert id="insertreply" parameterType="Reply" >
insert into reply values(REPLY_SEQ.nextval, #{cust_id}, #{item_id},#{content},sysdate)
<selectKey keyProperty="reply_id" resultType="int" order="AFTER">
SELECT REPLY_SEQ.currval FROM dual
</selectKey>
</insert>

<!-- 댓글 생성 후 생성된 댓글 객체 불러오기 -->
<select id="selectoneReply" parameterType="int" resultType="Reply" >
select * from reply where reply_id=#{replyid}
</select>

</mapper>